* {
    font-family: arial;
}
    
#container {
    height: 100vh;
    width:auto;
    background-image: url("/Assets/Images/class.jpg");
    background-size: 100vw; /* Adjust the background size as needed */
    background-position: center; /* Adjust the background position as needed */
    background-repeat: no-repeat;
}

header {
    display:flex;
    position:relative;
    justify-content: space-between;
    background-color: purple;
    color:white;
    font-weight:900;
    padding:5px;
    z-index:1;
}

#view-highscores {
    margin-left:10px;
    cursor:pointer;
    z-index: 2;
}

#view-highscores:hover {
    color:yellow;
}

#view-highscores:active {
    color:lightgreen;
}

#play-again {
    margin-left:10px;
    cursor:pointer;
    z-index: 2;
}

#play-again:hover {
    color:yellow;
}

#play-again:active {
    color:lightgreen;
}

#timer {
    margin-right:10px;
    z-index: 2;
}

main {
    height:100vh;
}

#start-challenge {
    display: flex;
    position: relative;
    margin: 0 auto 0 auto ;
    flex-direction: column;
    width: 60%;
    z-index:1;
}

#start-challenge h1 {
    display: flex;
    position: relative;
    margin: 10% auto 0 auto;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
}
      
#start-challenge p {
    text-align: center;
}

button {
    width: fit-content;
    display: block;
    margin: 0 auto;
    color:white;
    background-color: purple;
    border:0px solid transparent;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(179, 0, 179);
}
        
#questions {
    display: none;
    position: relative;
    margin: 10% auto 0 auto;
    width:60%;
    flex-direction: column;
    text-align: left;
    z-index:1;
}

#questions ul {
    width:fit-content;
    padding-left: 0;
    list-style-type: none;
}

#questions ul li {
    background-color:purple;
    line-height:1.5;
    color:white;
    margin:4px;
    padding:0 5px;
    border-radius: 3px;
    cursor:pointer;
}

#questions ul li:hover {
    background-color: rgb(179, 0, 179);
}

#questions ul li:active {
    background-color: rgb(246, 57, 246);
}

#instant-grading {
    color: green;
}


#all-done {
    display: none;
    position: relative;
    margin: 10% auto 0 auto;
    width:60%;
    flex-direction: column;
    text-align: left;
    z-index:1;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

form input {
    flex: 1;
    margin-right: 10px;
}

#highscores {
    display: none;
    position: relative;
    margin: 10% auto 0 auto;
    width:60%;
    flex-direction: column;
    text-align: left;
    z-index:1;
}

#highscores ul {
    padding-left: 0;
    list-style-type: none;
    margin-top:-5px;
}

#highscores ul li {
    background-color:rgba(255, 0, 255, 0.158);
    line-height:1.5;
    color:black;
    padding:0 5px;
    border-radius: 3px;
    margin:4px;
}

#highscores div {
    display:inline-flex;
    width:fit-content;
}

#highscores div button {
    margin: 0 10px 0 0;
    border:0px solid transparent;
    border-radius: 3px;
    padding: 5px
}

